@font-face {
  font-family: 'Consolas';
  src:
    url('../fonts/Consolas/Consolas.eot') format('embedded-opentype'),
    url('../fonts/Consolas/Consolas.woff2') format('woff2'),
    url('../fonts/Consolas/Consolas.woff') format('woff'),
    url('../fonts/Consolas/Consolas.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
